<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Products"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <form class="d-flex flex-wrap align-items-center">
                            <label for="inputPassword2" class="visually-hidden">Search</label>
                            <div class="me-3">
                                <input type="search" class="form-control my-1 my-lg-0" id="inputPassword2" name="search"
                                    placeholder="Search..." [(ngModel)]="searchTerm"
                                    (ngModelChange)="searchData($event)">
                            </div>
                            <label for="status-select" class="me-2">Sort By</label>
                            <div class="me-sm-3">
                                <select class="form-select my-1 my-lg-0" id="status-select">
                                    <option selected="">All</option>
                                    <option value="1">Popular</option>
                                    <option value="2">Price Low</option>
                                    <option value="3">Price High</option>
                                    <option value="4">Sold Out</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-auto">
                        <div class="text-lg-end my-1 my-lg-0">
                            <button type="button" class="btn btn-success waves-effect waves-light me-1"><i
                                    class="mdi mdi-cog"></i></button>
                            <a [routerLink]="['../products-edit']" class="btn btn-danger waves-effect waves-light"><i
                                    class="mdi mdi-plus-circle me-1"></i> Add New</a>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize">
        <div class="card product-box">
            <div class="card-body">
                <div class="product-action">
                    <a href="javascript: void(0);" class="btn btn-success btn-xs waves-effect waves-light me-1"><i
                            class="mdi mdi-pencil"></i></a>
                    <a href="javascript: void(0);" class="btn btn-danger btn-xs waves-effect waves-light"><i
                            class="mdi mdi-close"></i></a>
                </div>

                <div class="bg-light">
                    <img [src]="product.image" alt="product-pic" class="img-fluid" />
                </div>

                <div class="product-info">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="font-16 mt-0 sp-line-1"><a [routerLink]="['../product/details']"
                                    [queryParams]="{ id: product.id}" class="text-dark">{{product.name}}</a> </h5>
                            <div class="text-warning mb-2 font-13">
                                <i class="fa fa-star me-1" *ngFor="let item of [].constructor(product.rating)"></i>
                            </div>
                            <h5 class="m-0"> <span class="text-muted"> Stocks : {{product.quantity | number}} pcs</span>
                            </h5>
                        </div>
                        <div class="col-auto">
                            <div class="product-price-tag">
                                {{product.price | currency}}
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div> <!-- end product info-->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->

</div>
<!-- end row-->

<div class="row">
    <div class="col-12">
        <ngb-pagination [collectionSize]="products.length" class="pagination-rounded d-flex justify-content-end mb-2"
            [(page)]="page" [pageSize]="pageSize"></ngb-pagination>

    </div> <!-- end col-->
</div>
<!-- end row-->