<div class="row">
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'dripicons-stopwatch',variant:'blue',stats:4,desc:'Car Staying hours'}">
        </ng-container>

    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-pine-tree',variant:'success',stats:3250,desc:'Carbon Emission as Trees'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-car-brake-parking',variant:'danger',stats:53000,desc:'Available Parking Slots'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-hours-24',variant:'warning',stats:4500,desc:'Cars Over night'}">
        </ng-container>
    </div> <!-- end col -->
</div>
<!-- end row-->

<div style="margin-top: -50px; margin-bottom: 10px;" class="row row-cols-xs-1 row-cols-lg-5">
    <div class="col">
        <div id="deal-analytics" class="mt-4">
            <div [chart]="cEStandard"></div>
        </div>
    </div>

    <div class="col">
        <div id="deal-analytics" class="mt-4">
            <div [chart]="chart2"></div>
        </div>
    </div>
    <div class="col">
        <div id="deal-analytics" class="mt-4">
            <div [chart]="chart3"></div>
        </div>
    </div>
    <div class="col">
        <div id="deal-analytics" class="mt-4">
            <div [chart]="chart4"></div>
        </div>
    </div>
    <div class="col">
        <div id="deal-analytics" class="mt-4">
            <div [chart]="chart5"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-2">
                <div dir="ltr">
                    <div id="deal-analytics" class="mt-4">
                        <div [chart]="chart6"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div dir="ltr">
                    <div id="deal-analytics" class="mt-4">
                        <div [chart]="chart7"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->

    <div class="col-xl-3">
        <div class="card">
            <div class="card-body pb-2">
                <div dir="ltr">
                    <div id="deal-analytics" class="mt-4">
                        <div [chart]="chart8"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div> <!-- end col-->
</div>

<!-- reusable templates -->
<ng-template #StatiscticsCard let-icon="icon" let-variant="variant" let-stats="stats" let-desc="desc">
    <div class="card bg-pattern">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="avatar-md bg-{{variant}} rounded">
                        <i [class]="icon" [ngClass]="{' avatar-title font-22 text-white': icon}"></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="text-end">
                        <h3 class="text-dark my-1"><span [countUp]="stats">{{stats | number}}</span>
                        </h3>
                        <p class="text-muted mb-0 text-truncate">{{desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end card-->
</ng-template>