<div class="row">
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'dripicons-stopwatch',variant:'blue',stats:4,desc:'Car Staying hours'}">
        </ng-container>

    </div> <!-- end col -->

    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-pine-tree',variant:'success',stats:3250,desc:'Carbon Emission as Trees'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-car-brake-parking',variant:'danger',stats:53000,desc:'Available Parking Slots'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col-lg-6 col-xl-3">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-hours-24',variant:'warning',stats:4500,desc:'Cars Over night'}">
        </ng-container>
    </div> <!-- end col -->
</div>
<!-- end row-->

<div style="margin-top: -15px; margin-bottom: 10px;" class="row row-cols-xs-1 row-cols-lg-5">
    <div class="col">
        <div [chart]="cEStandard"></div>
    </div>

    <div class="col">
        <div [chart]="chart2"></div>
    </div>
    <div class="col">
        <div [chart]="chart3"></div>
    </div>
    <div class="col">
        <highcharts-chart *ngIf="chartOptions"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
    </div>
    <div class="col">
        <div [chart]="chart5"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div>
            <h4 class="header-title mb-3">Daily car type quantity</h4>
            <ngx-simplebar class="inbox-widget">
                <div class="inbox-item"  [style.maxHeight.px]="50" *ngFor="let message of messages">
                    <div class="row">
                        <div class="col-3">
                            <div class="badge font-14 bg-soft-danger text-danger p-1">
                                {{message.value}}</div>
                        </div>
                        <div class="col-3">
                            <div class="avatar-md rounded">
                                <i class="avatar-title font-22 {{theme === 'dark' ? 'text-white': 'text-black'}}" [ngClass]="message.icon"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="inbox-item-text">{{message.text}}</p>
                        </div>
                    </div>
                </div>
            </ngx-simplebar> <!-- end inbox-widget -->
        </div>
    </div> <!-- end col-->

    <div class="col-md-6">
        <div dir="ltr">
            <div>
                <img style="width:100%" src="assets/images/qatar.png" srcset="">
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-3">
        <div class="pb-2">
            <div class="row" dir="ltr">
                <div class="col">
                    <div [chart]="chart6"></div>
                </div>
            </div>
            <div class="row" dir="ltr">
                <div class="col mt-2">
                    <div [chart]="chart8"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>

<!-- reusable templates -->
<ng-template #StatiscticsCard let-icon="icon" let-variant="variant" let-stats="stats" let-desc="desc">
    <div class="card bg-pattern">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="avatar-md bg-{{variant}} rounded">
                        <i [class]="icon" [ngClass]="{' avatar-title font-22 text-white': icon}"></i>
                    </div>
                </div>
                <div class="col-8">
                    <div class="text-end">
                        <h3 class="text-dark my-1"><span [countUp]="stats">{{stats | number}}</span>
                        </h3>
                        <p class="text-muted mb-0 text-truncate">{{desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end card-->
</ng-template>