<div class="row">
    <div class="col">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'dripicons-stopwatch',variant:'blue',stats:4,desc:'Car Staying hours'}">
        </ng-container>

    </div> <!-- end col -->

    <div class="col">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-pine-tree',variant:'success',stats:3250,desc:'Carbon Emission as Trees'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-car-brake-parking',variant:'danger',stats:53000,desc:'Available Parking Slots'}">
        </ng-container>

    </div> <!-- end col -->
    <div class="col">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-hours-24',variant:'warning',stats:4500,desc:'Cars Over night'}">
        </ng-container>
    </div> <!-- end col -->
    <div class="col">
        <ng-container
            *ngTemplateOutlet="StatiscticsCard;context:{icon:'mdi mdi-hours-24',variant:'warning',stats:4500,desc:'Cars Over night'}">
        </ng-container>
    </div> <!-- end col -->

</div>
<!-- end row-->

<div style="margin-top: -15px; margin-bottom: 10px;" class="row row-cols-xs-1 row-cols-lg-5">
    <div class="col">
        <app-ui-portlet-card cardTitle="Mixed Line, area and column">
        <div id="mixed-chart">
            <apx-chart class="apex-charts" [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                    [yaxis]="areaChartOptions.yaxis" [xaxis]="areaChartOptions.xaxis"
                    [labels]="areaChartOptions.labels" [stroke]="areaChartOptions.stroke"
                    [plotOptions]="areaChartOptions.plotOptions" [markers]="areaChartOptions.markers"
                    [fill]="areaChartOptions.fill" [tooltip]="areaChartOptions.tooltip"
                    [colors]="areaChartOptions.colors"></apx-chart>
        </div>
    </app-ui-portlet-card>
    </div>

    <div class="col">
        <app-ui-portlet-card cardTitle="Mixed Line, area and column">
            <div id="mixed-chart">
                <apx-chart class="apex-charts" [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                        [yaxis]="lineChartOptions.yaxis" [xaxis]="lineChartOptions.xaxis"
                        [labels]="lineChartOptions.labels" [stroke]="lineChartOptions.stroke"
                        [plotOptions]="lineChartOptions.plotOptions" [markers]="lineChartOptions.markers"
                        [fill]="lineChartOptions.fill" [tooltip]="lineChartOptions.tooltip"
                        [colors]="lineChartOptions.colors"></apx-chart>
            </div>
        </app-ui-portlet-card>
    </div>
    <div class="col">
        <app-ui-portlet-card cardTitle="Stacked Bar Chart">
            <div [chart]="chart3"></div>
        </app-ui-portlet-card>

    </div>

    <div class="col">
        <app-ui-portlet-card cardTitle="Stacked Bar Chart">

            <div id="bar-chart-stacked">
                <apx-chart class="apex-charts" [series]="barChartOptions2.series!" [chart]="barChartOptions2.chart!"
                    [dataLabels]="barChartOptions2.dataLabels!" [plotOptions]="barChartOptions2.plotOptions!"
                    [xaxis]="barChartOptions2.xaxis!" [stroke]="barChartOptions2.stroke!"
                    [fill]="barChartOptions2.fill!" [yaxis]="barChartOptions2.yaxis!"
                    [tooltip]="barChartOptions2.tooltip!" [legend]="barChartOptions2.legend!"></apx-chart>
            </div>
        </app-ui-portlet-card>
    </div>

    <div class="col">
        <app-ui-portlet-card cardTitle="Mixed Line, area and column">
            <div id="mixed-chart">
                <apx-chart class="apex-charts" [series]="columnChartOptions.series" [chart]="columnChartOptions.chart"
                        [yaxis]="columnChartOptions.yaxis" [xaxis]="columnChartOptions.xaxis"
                        [labels]="columnChartOptions.labels" [stroke]="columnChartOptions.stroke"
                        [plotOptions]="columnChartOptions.plotOptions" [markers]="columnChartOptions.markers"
                        [fill]="columnChartOptions.fill" [tooltip]="columnChartOptions.tooltip"
                        [colors]="columnChartOptions.colors"></apx-chart>
            </div>
        </app-ui-portlet-card>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div>
            <h4 class="header-title mb-3">Daily car type quantity</h4>
            <ngx-simplebar class="inbox-widget">
                <div class="inbox-item"  [style.maxHeight.px]="50" *ngFor="let message of messages">
                    <div class="row">
                        <div class="col-3">
                            <div class="badge font-14 bg-soft-danger text-danger p-1">
                                {{message.value}}</div>
                        </div>
                        <div class="col-3">
                            <div class="avatar-md rounded">
                                <i class="avatar-title font-22 {{theme === 'dark' ? 'text-white': 'text-black'}}" [ngClass]="message.icon"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="inbox-item-text">{{message.text}}</p>
                        </div>
                    </div>
                </div>
            </ngx-simplebar> <!-- end inbox-widget -->
        </div>
    </div> <!-- end col-->

    <div class="col-md-6">
        <div dir="ltr">
            <div>
                <img style="width:100%" height="434" src="assets/images/qatar.png" srcset="">
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-3">
        <div class="pb-2">
            <div class="row" dir="ltr">
                <div class="col">
                    <app-ui-portlet-card cardTitle="Mixed Line, area and column">
                        <div id="mixed-chart">
                            <apx-chart class="apex-charts" [series]="piChartOptions.series" [chart]="piChartOptions.chart"
                                    [yaxis]="piChartOptions.yaxis" [xaxis]="piChartOptions.xaxis"
                                    [labels]="piChartOptions.labels" [stroke]="piChartOptions.stroke"
                                    [plotOptions]="piChartOptions.plotOptions" [markers]="piChartOptions.markers"
                                    [fill]="piChartOptions.fill" [tooltip]="piChartOptions.tooltip"
                                    [colors]="piChartOptions.colors"></apx-chart>
                        </div>
                    </app-ui-portlet-card>
                </div>
            </div>
            <div class="row" dir="ltr">
                <div class="col mt-2">
                    <app-ui-portlet-card cardTitle="Mixed Line, area and column">
                        <div id="mixed-chart">
                            <apx-chart class="apex-charts" [series]="singleAreaChartOptions.series" [chart]="singleAreaChartOptions.chart"
                                    [yaxis]="singleAreaChartOptions.yaxis" [xaxis]="singleAreaChartOptions.xaxis"
                                    [labels]="singleAreaChartOptions.labels" [stroke]="singleAreaChartOptions.stroke"
                                    [plotOptions]="singleAreaChartOptions.plotOptions" [markers]="singleAreaChartOptions.markers"
                                    [fill]="singleAreaChartOptions.fill" [tooltip]="singleAreaChartOptions.tooltip"
                                    [colors]="singleAreaChartOptions.colors"></apx-chart>
                        </div>
                    </app-ui-portlet-card>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>

<!-- reusable templates -->
<ng-template #StatiscticsCard let-icon="icon" let-variant="variant" let-stats="stats" let-desc="desc">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="avatar-md bg-{{variant}} rounded">
                        <i [class]="icon" [ngClass]="{' avatar-title font-22 text-white': icon}"></i>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-end">
                        <h3 class="text-dark my-1"><span [countUp]="stats">{{stats | number}}</span>
                        </h3>
                        <p class="text-muted mb-0 text-truncate">{{desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end card-->
</ng-template>