<!-- Right Sidebar -->
<div class="right-bar" (clickOutside)="hide()" [exclude]="'.right-bar-toggle'" [excludeBeforeClick]="true">
    <ngx-simplebar class="h-100">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-bordered nav-justified">
            <li ngbNavItem="setting">
                <a ngbNavLink class="py-2">
                    <i class="mdi mdi-cog-outline d-block font-22 my-1"></i>
                </a>
                <ng-template ngbNavContent>
                    <h6 class="fw-medium px-3 m-0 py-2 font-13 text-uppercase bg-light">
                        <span class="d-block py-1">Theme Settings</span>
                    </h6>

                    <div class="p-3">
                        <!-- Color -->
                        <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">Color Scheme</h6>
                        <div class="form-check form-switch mb-1">
                            <input type="radio" class="form-check-input" name="layoutColor" value="light"
                                id="light-check" [(ngModel)]="layoutColor" (change)="changeLayoutColor('light')" />
                            <label class="form-check-label" for="light-check">Light</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="radio" class="form-check-input" name="layoutColor" value="dark" id="dark-check"
                                [(ngModel)]="layoutColor" (change)="changeLayoutColor('dark')" />
                            <label class="form-check-label" for="dark-check">Dark</label>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="pt-0"></div>

    </ngx-simplebar> <!-- end slimscroll-menu-->
</div>
<!-- Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>