<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Orders"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-lg-8">
                        <form class="d-flex flex-wrap align-items-center">
                            <label for="status-select" class="me-2">Status</label>
                            <div class="me-sm-3">
                                <select class="form-select form-select my-1 my-lg-0" id="status-select" name="status"
                                    [(ngModel)]="OrderStatusGroup" (change)="changeOrderStatusGroup(OrderStatusGroup)">
                                    <option value="All">All</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Authorization">Awaiting Authorization</option>
                                    <option value="Failed">Payment failed</option>
                                    <option value="COD">Cash on Delivery</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-lg-end">
                            <button type="button" class="btn btn-danger waves-effect waves-light mb-2 me-2"><i
                                    class="mdi mdi-basket me-1"></i> Add New Order</button>
                            <button type="button" class="btn btn-light waves-effect mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <!-- order table -->
                <!-- product table -->
                <app-advanced-table #advancedTable (handleTableLoad)="handleTableLoad($event)" [tableData]="orderList"
                    [columns]="columns" [pagination]="true" [hasRowSelection]="true" [isSearchable]="true"
                    (search)="searchData($event)" [isSortable]="false" tableClasses="table-centered"
                    theadClasses="table-light">
                </app-advanced-table>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->